In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel("Documents/GitHub/SoccermaticsForPython/BL/BL.xlsx", skiprows=1, nrows=36,usecols="A:K")

In [3]:
df["Sporting success_BL"].loc[3] = 18
df["Sporting success_BL"].loc[16] = 18
df["Sporting_BL_inverse"].loc[3] = 0
df["Sporting_BL_inverse"].loc[16] = 0
print(df["Sporting_BL_inverse"])

df.info()

0      6.0
1      8.0
2     10.0
3      0.0
4      7.0
5     14.0
6     10.0
7      3.0
8     15.0
9      0.0
10    12.0
11    13.0
12     4.0
13     9.0
14    17.0
15    16.0
16     0.0
17     2.0
18     3.0
19     7.0
20    15.0
21    11.0
22    10.0
23    16.0
24    11.0
25     5.0
26     9.0
27    17.0
28    15.0
29    14.0
30     6.0
31    13.0
32    17.0
33     4.0
34     2.0
35    12.0
Name: Sporting_BL_inverse, dtype: float64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 11 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Club name                            36 non-null     object
 1   Year                                 36 non-null     int64
 2   Sporting success_BL                  36 non-null     float64
 3   Sporting_BL_inverse                  36 non-null     float64
 4   Sporting success_German Cup          36 non-null     object
 5   Sporting success_German Cup_numeric  36 non-null     int64
 6   Transfer income                      36 non-null     float64
 7   Transfer spend                       36 non-null     float64
 8   Transfer balance                     36 non-null     float64
 9   Total Revenue                        36 non-null     float64
 10  EBIT                                 36 non-null     float64
dtypes: float64(7), int64(2), object(2)
memory usage: 3.2+ KB

/Users/marcnordbruch/.pyenv/versions/3.8.7/envs/soccermaticsforpython/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [4]:
df["Year"]=df["Year"].astype("int")
df["Year"]=pd.to_datetime(df["Year"])
df["Sporting success_BL"]=df["Sporting success_BL"].astype("category")
df["Sporting_BL_inverse"]=df["Sporting_BL_inverse"].astype("category")
df["Sporting success_German Cup"]=df["Sporting success_German Cup"].astype("category")
df["Sporting success_German Cup_numeric"]=df["Sporting success_German Cup_numeric"].astype("category")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 11 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Club name                            36 non-null     object
 1   Year                                 36 non-null     datetime64[ns]
 2   Sporting success_BL                  36 non-null     category
 3   Sporting_BL_inverse                  36 non-null     category
 4   Sporting success_German Cup          36 non-null     category
 5   Sporting success_German Cup_numeric  36 non-null     category
 6   Transfer income                      36 non-null     float64
 7   Transfer spend                       36 non-null     float64
 8   Transfer balance                     36 non-null     float64
 9   Total Revenue                        36 non-null     float64
 10  EBIT                                 36 non-null     float64
dtypes: category(4), datetime64[ns](1), float64(5), object(1)
memory usage: 4.3+ KB

In [5]:
print(df.Year)

0    1970-01-01 00:00:00.000002018
1    1970-01-01 00:00:00.000002018
2    1970-01-01 00:00:00.000002018
3    1970-01-01 00:00:00.000002018
4    1970-01-01 00:00:00.000002018
5    1970-01-01 00:00:00.000002018
6    1970-01-01 00:00:00.000002018
7    1970-01-01 00:00:00.000002018
8    1970-01-01 00:00:00.000002018
9    1970-01-01 00:00:00.000002018
10   1970-01-01 00:00:00.000002018
11   1970-01-01 00:00:00.000002018
12   1970-01-01 00:00:00.000002018
13   1970-01-01 00:00:00.000002018
14   1970-01-01 00:00:00.000002018
15   1970-01-01 00:00:00.000002018
16   1970-01-01 00:00:00.000002018
17   1970-01-01 00:00:00.000002018
18   1970-01-01 00:00:00.000002019
19   1970-01-01 00:00:00.000002019
20   1970-01-01 00:00:00.000002019
21   1970-01-01 00:00:00.000002019
22   1970-01-01 00:00:00.000002019
23   1970-01-01 00:00:00.000002019
24   1970-01-01 00:00:00.000002019
25   1970-01-01 00:00:00.000002019
26   1970-01-01 00:00:00.000002019
27   1970-01-01 00:00:00.000002019
28   1970-01-01 00:00:00.000002019
29   1970-01-01 00:00:00.000002019
30   1970-01-01 00:00:00.000002019
31   1970-01-01 00:00:00.000002019
32   1970-01-01 00:00:00.000002019
33   1970-01-01 00:00:00.000002019
34   1970-01-01 00:00:00.000002019
35   1970-01-01 00:00:00.000002019
Name: Year, dtype: datetime64[ns]